{{#partial "contenido"}}
    <!-- PARTE DEL REGISTRO -->
    <div class="container my-5">
        <h1 class="text-center">Registra Tu Perfil</h1>

        <form method="POST" action="signup" class="row g-3">
            <!-- Parte de la izquierda -->
            <div class="col-md-6">
                <h3 class="text-center">Datos personales</h3>

                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre de usuario:</label>
                    <input name="nombre" class="form-control" placeholder="Nombre de usuario" required>
                </div>

                <div class="mb-3">
                    <label for="contrasena" class="form-label">Contraseña:</label>
                    <input type="password" name="contrasenia" class="form-control" placeholder="Contraseña" required>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" name="email" class="form-control" placeholder="Email" required>
                </div>

                <div class="mb-3">
                    <label for="telefono" class="form-label">Teléfono:</label>
                    <input type="text" name "telefono" class="form-control" placeholder="Teléfono" required>
                </div>

                <div>
                    <input type="submit" value="Enviar" class="btn btn-primary">
                </div>
            </div>
            <!-- Parte de la derecha -->
            <div class="col-md-6">
                <h3 class="text-center">Preferencias para recibir notificaciones</h3>

                <div class="mb-3">
                    <label class="form-label">Medio preferido:</label>
                    <div class="d-flex justify-content-center">
                        {{#each medios}}
                            <div class="form-check mx-3">
                                <input type="radio" class="form-check-input" id="medio{{@index}}" name="medios" value="{{this}}">
                                <label class="form-check-label" for="medio{{@index}}">{{this}}</label>
                            </div>
                        {{/each}}
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Modo de notificación:</label>
                    <div class="d-flex justify-content-center">
                        {{#each modos}}
                            <div class="form-check mx-3">
                                <input type="radio" class="form-check-input" id="modo{{@index}}" name="modos" value="{{this}}">
                                <label class="form-check-label" for="modo{{@index}}">{{this}}</label>
                            </div>
                        {{/each}}
                    </div>
                </div>

                <div class="mb-3" id="botonAdicionalContainer" style="display: none;">
                    <button id="botonAdicional" class="btn btn-secondary">Configurar horarios disponibles</button>
                </div>

                <div id="desplegableContainer" style="display: none;">
                    <label for="horarios">Horarios disponibles:</label>
                    <select id="horarios" name="horarios" multiple class="form-select">
                    </select>
                </div>
            </div>
        </form>
    </div>

    <script>
       document.addEventListener("DOMContentLoaded", function() {
    var radioModos = document.querySelectorAll('input[name="modos"]');
    var botonAdicionalContainer = document.getElementById("botonAdicionalContainer");
    var desplegableContainer = document.getElementById("desplegableContainer");

    radioModos.forEach(function(radioModo) {
        radioModo.addEventListener("change", function() {
            if (radioModo.value === "Asincronica") {
                botonAdicionalContainer.style.display = "block";
            } else {
                botonAdicionalContainer.style.display = "none";
                // Oculta el desplegable si no estás en "Asincronica"
                desplegableContainer.style.display = "none";
            }
        });
    });

            var botonAdicional = document.getElementById("botonAdicional");
            var horariosSelect = document.getElementById("horarios");

            // Función para generar opciones de horarios
            function generarHorarios() {
                var horariosSelect = document.getElementById("horarios");

                for (var hora = 0; hora < 24; hora++) {
                    for (var minuto = 0; minuto < 60; minuto += 30) {
                        var horaStr = hora.toString().padStart(2, "0");
                        var minutoStr = minuto.toString().padStart(2, "0");
                        var horaCompleta = horaStr + ":" + minutoStr;
                        var option = new Option(horaCompleta, horaCompleta);
                        horariosSelect.appendChild(option);
                    }
                }
            }

            botonAdicional.addEventListener("click", function() {
                if (desplegableContainer.style.display === "block") {
                    desplegableContainer.style.display = "none";
                } else {
                    desplegableContainer.style.display = "block";
                    generarHorarios();
                }
            });
        });
    </script>

{{/partial}}
{{> templates/base }}