{{#partial "contenido" }}
<!-- PARTE DEL REGISTRO -->
<div>
    <div class="row">
        <h1>  </h1> <!-- Este es un espacio -->
        <h1 class="col-md-12 text-center"> Registra Tu Perfil </h1>
    </div>
</div>

<form method="POST" action="signup">
<div class = "container-fluid">
    <div class="row">
        <!-- Parte de la izquierda -->
        <div class="col-md-6">
            <div class="row h-100 align-items-center">
                <div class="col-md-2">

                </div>
                <div class="col-md-8">
                    <div class="container">
                        <div class="row justify-text-center">
                            <div class="col-md-12 text-center">
                                <h3>USUARIO</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="nombre">Nombre de usuario:</label>
                                <input name = "nombre" class="form-control mr-sm-2" placeholder="Nombre de usuario" required></input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="contrasena">Contraseña:</label>
                                <input type="password" name="contrasenia" class="form-control mr-sm-2" placeholder="Contraseña" required></input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="email">Email:</label>
                                <input type = "email" name = "email" class="form-control mr-sm-2" placeholder="Email" required></input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="telefono">Teléfono:</label>
                                <input type = "telefono" name="telefono" class="form-control mr-sm-2" placeholder="Teléfono" required></input>
                            </div>
                        </div>
                        <!--
                        <div class="row">
                            <div class="col-md-12">
                                <label for="localizacion">Localización:</label>
                                <input name="localizacion" class="form-control mr-sm-2" placeholder="Localización"></input>
                            </div>
                        </div>
                        -->
                        <div class="col-md-2">
                        </div>
                            <div>
                                <input type="submit" value="Enviar">
                            </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Parte de la derecha -->
        <div class="col-md-6">
            <div class="row h-100 align-items-center">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <div class="container">
                        <div class="row justify-text-center">
                            <div class="col-md-12 text-center">
                                <h3>NOTIFICACIÓN</h3>
                            </div>
                        </div>
                        <div class="row">
                                <div class="form-group">
                                    {{#each medios}}
                                        <label for="medio{{@index}}">{{this}}</label>
                                        <input type="radio" id="medio{{@index}}" name="medios" value="{{this}}" placeholder="Medio para recibir Notificaciones">
                                    {{/each}}
                                </div>
                        </div>
                            <div class="form-group">
                                {{#each modos}}
                                    <label for="modo{{@index}}">{{this}}</label>
                                    <input type="radio" id="modo{{@index}}" name="modos" value="{{this}}" placeholder="Modo de Recepción">
                                {{/each}}
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>

<!--<div class="row">
    <div class="col-12 d-flex justify-content-center align-items-center">

        <button><a href="/entidades">SELECCIONAR ENTIDADES DE INTERES</a>  </button>
    </div>
</div> -->

{{/partial}}
{{> templates/base }}