{{#partial "contenido" }}

    <!-- PARTE DE APERTURA DE INCIDENTES -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 offset-3">
                <div class="row borde redondeado m-5">
                    <h2 class="text-center">Apertura de incidente</h2>
                </div>
                <div class="row borde redondeado p-4">
                    <form method="post" action="/incidentes/crear">
                        <div class="col-md-5 ms-4 me-5">
                            <div class="row borde redondeado">
                                <h5 class="text-center">¿En qué comunidad queres reportar el incidente?</h5>
                            </div>
                            <div class="row mt-2">
                                <label for="comunidad">Comunidad:</label>
                                {{#if comunidadSeleccionada}}
                                    <p>{{comunidadSeleccionada.nombre}}</p>
                                    <input type="hidden" name="comunidad" value="{{comunidadSeleccionada.nombre}}">
                                {{else}}
                                    <select id="comunidad" name="comunidad" required>
                                        <option value="">Selecciona una comunidad</option>
                                        {{#each comunidades}}
                                            <option value="{{this.id}}">{{this.nombre}}</option>
                                        {{/each}}
                                    </select>
                                {{/if}}
                            </div>
                            <div class="row borde redondeado mt-2">
                                <h5 class="text-center">¿Cuál es el servicio afectado?</h5>
                            </div>
                            <div class="row mt-2">
                                <label for="servicio">Servicio afectado:</label>
                                <select id="servicio" name="servicio" required>
                                    <option value="">Seleccione un servicio</option>
                                    {{#each servicios}}
                                        <option value="{{this.id}}">{{this.nombre}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="row borde redondeado p-2">
                                <h5 class="text-center">Observaciones</h5>
                            </div>
                            <div class="row mt-2">
                                <label for="observaciones">Observaciones:</label>
                                <input type="text" id="observaciones" name="observaciones" placeholder="Observaciones..." required>
                            </div>
                            <div class="row mt-5 d-flex align-items-center justify-content-center">
                                <div class="col-md-4">
                                    <button type="submit">Reportar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{{/partial}}
{{> templates/baseConNavegador }}