{{#partial "contenido" }}

    <!-- PARTE DE APERTURA DE INCIDENTES -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 offset-3">
                <div class="row borde redondeado m-5">
                    <h2 class="text-center">Apertura de incidente</h2>
                </div>
                <div class="row borde redondeado p-4">
                    <form method="post" action="/incidentes/crear">
                        <div class="col-md-5 ms-4 me-5">
                            <div class="row borde redondeado">
                                <h5 class="text-center">¿En qué comunidad queres reportar el incidente?</h5>
                            </div>
                            <div class="row mt-2">
                                <label for="comunidad">Comunidad:</label>
                                {{#if comunidadSeleccionada}}
                                    <p>{{comunidadSeleccionada.nombre}}</p>
                                    <input type="hidden" name="comunidad" value="{{comunidadSeleccionada.nombre}}">
                                {{else}}
                                    <select id="comunidad" name="comunidad" required>
                                        <option value="">Selecciona una comunidad</option>
                                        {{#each comunidades}}
                                            <option value="{{this.id}}">{{this.nombre}}</option>
                                        {{/each}}
                                    </select>
                                {{/if}}
                            </div>
                            <div class="row borde redondeado mt-2">
                                <h5 class="text-center">¿Cuál es el servicio afectado?</h5>
                            </div>
                            <div class="row mt-2">
                                <label for="servicio">Servicio afectado:</label>
                                <select id="servicio" name="servicio" required data-services="{{JSON.stringify(comunidades)}}">
                                    <option value="">Seleccione un servicio</option>
                                    {{#each servicios}}
                                        <option value="{{this.id}}">{{this.nombre}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="row borde redondeado p-2">
                                <h5 class="text-center">Observaciones</h5>
                            </div>
                            <div class="row mt-2">
                                <label for="observaciones">Observaciones:</label>
                                <input type="text" id="observaciones" name="observaciones" placeholder="Observaciones..." required>
                            </div>
                            <div class="row mt-5 d-flex align-items-center justify-content-center">
                                <div class="col-md-4">
                                    <button type="submit">Reportar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div><script>
        document.addEventListener("DOMContentLoaded", function () {
            const comunidadDropdown = document.getElementById("comunidad");
            const servicioDropdown = document.getElementById("servicio");
            const comunidadesData = JSON.parse(comunidadDropdown.getAttribute("data-comunidades"));

            // Función para actualizar el desplegable de Servicios en función de la Comunidad seleccionada
            function updateServiciosDropdown(selectedComunidadId) {
                servicioDropdown.innerHTML = ""; // Borra las opciones existentes

                if (selectedComunidadId) {
                    const selectedComunidad = comunidadesData.find((comunidad) => comunidad.id === selectedComunidadId);
                    if (selectedComunidad) {
                        selectedComunidad.serviciosDeInteres.forEach((servicio) => {
                            const option = document.createElement("option");
                            option.value = servicio.id;
                            option.textContent = servicio.nombre;
                            servicioDropdown.appendChild(option);
                        });
                    }
                }
            }

            comunidadDropdown.addEventListener("change", function () {
                const selectedComunidadId = comunidadDropdown.value;
                updateServiciosDropdown(selectedComunidadId);
            });

            // Actualización inicial basada en el valor seleccionado
            updateServiciosDropdown(comunidadDropdown.value);
        });
    </script>

{{/partial}}
{{> templates/baseConNavegador }}