{{#partial "contenido" }}
    <div class="container mt-15">
        <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-center">
            {{#if comunidades.length}}
                {{#each comunidades}}
                    <div class="col">
                        <div class="card">
                            <img src="..." class="card-img-top" alt="Community Image">
                            <div class="card-body">
                                <h5 class="card-title">{{this.nombre}}</h5>
                                <p class="card-text">{{this.descripcion}}</p>
                                <form id="formComunidad" method="POST" action="/comunidades/unirse">
                                    <button id="comunidad{{@index}}" class="btn btn-primary btn-unirse" name="comunidades" type = "submit" data-comunidad="{{this.nombre}}" value="{{this.nombre}}">Unirse</button>
                                </form>
                            </div>
                        </div>
                    </div>
                {{/each}}
            {{else}}
                <div class="col text-center">
                    <p class="mt-5">隆Ya sos miembro de todas las comunidades! </p>
                    <a href="/home" class="btn btn-primary mt-3">Volver a Inicio</a>
                </div>
            {{/if}}
        </div>
    </div>
    <div class="modal fade" id="reportSuccessModal" tabindex="-1" aria-labelledby="reportSuccessModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    隆Te has unido a una comunidad con 茅xito!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="btnAceptarModal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
<script>
    document.querySelector('#formComunidad').addEventListener('submit', function (e) {
    e.preventDefault(); // Evitar que el formulario se env铆e de inmediato

    // Realizar una llamada AJAX para enviar los datos al servidor
    fetch('/comunidades/unirse', {
        method: 'POST',
        body: new FormData(e.target) // Enviar los datos del formulario
    })
    .then(response => {
        if (response.ok) {
            // Si la operaci贸n se complet贸 con 茅xito, muestra el modal de 茅xito
            var reportSuccessModal = new bootstrap.Modal(document.getElementById('reportSuccessModal'));
            reportSuccessModal.show();

            // Agregar un manejador de eventos al bot贸n "Aceptar" en el modal
            document.getElementById('btnAceptarModal').addEventListener('click', function () {
                // Redirigir a "/home"
                window.location.href = "/home";
            });
        } else {
            // Manejar errores si la operaci贸n no fue exitosa
            console.error('Error al unirse a la comunidad');
        }
    })
    .catch(error => {
        console.error('Error de red al unirse a la comunidad', error);
    });
});
</script>
{{/partial}}

{{> templates/baseConNavegador }}