{{#partial "contenido" }}

    <div class="container mt-15">
        <div class="row justify-content-center">
            <div class="col-md-12 borde redondeado p-4">
                <div class="row p-4">
                    <div class="borde redondeado d-flex justify-content-center p-2">
                        <h1>Comunidades</h1>
                    </div>
                </div>

                <form method="POST" action="/comunidades/unirse" class="form-control">
                {{#each comunidades}}
                    <div class="row borde redondeado m-2">
                        <div class="col-md-4">
                            <div class="p-4 mt-2 mb-2 borde d-flex align-items-center justify-content-center redondeado">
                                <h4>{{this.nombre}}</h4>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="p-4 mt-2 mb-2 borde d-flex align-items-center justify-content-center redondeado">
                                <h4>{{this.descripcion}}</h4>
                            </div>
                        </div>
                        <div class="row d-flex align-items-center justify-content-center">
                            <div class="col-md-3 borde redondeado d-flex justify-content-center mt-3">
                                <label for="comunidad{{@index}}">{{this}}</label>
                                <input type="radio" id="comunidad{{@index}}" name="comunidades" value="{{this.nombre}}">
                            </div>
                        </div>
                    </div>
                {{/each}}
                <!-- DEBERÃA ANDAR CON ALGO EN LA BASE DE DATOS -->
                <button type="submit">Unirse</button>
                </form>
            </div>
            </div>
        </div>
    </div>

{{/partial}}
{{> templates/baseConNavegador }}