{{#partial "contenido" }}

    <!-- PARTE DEL REGISTRO -->
    <div>
        <div class="row">
            <h1>  </h1> <!-- Este es un espacio -->
            <h1 class="col-md-12 text-center"> Edita Tu Perfil </h1>
        </div>
    </div>

    <form method="POST" action="editar">
        <div class="container mx-fluid borde">
            <div class="row">
                <!-- Parte de la izquierda -->
                <div class="col-md-6">
                    <div class="row align-items-center">
                        <div class="col-md-8">
                            <div class="container">
                                <div class="row justify-text-center">
                                    <div class="col-md-12 text-center">
                                        <h3>USUARIO</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="nombre">Nombre de usuario:</label>
                                        <input name="nombre" class="form-control mr-sm-2" placeholder="{{usuario.nombreDeUsuario}}">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="contrasena">Contraseña:</label>
                                        <input type="password" name="contrasenia" class="form-control mr-sm-2">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="email">Email:</label>
                                        <input type="email" name="email" class="form-control mr-sm-2" placeholder="{{usuario.email}}">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="telefono">Teléfono:</label>
                                        <input type="tel" name="telefono" class="form-control mr-sm-2" placeholder="{{usuario.numeroTelefono}}">
                                    </div>
                                </div>
                                <div class="row justify-content-center">
                                    <div class="col-4 ms-4 me-4 mt-2 mb-2">
                                        <input type="submit" value="Enviar" class="btn btn-primary btn-block btn-group-sm">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Parte de la derecha -->
                <div class="col-md-6">
                    <form role="form" method="POST" action="/editar">
                        <h3 class="text-center pt-4">Preferencias al recibir notificaciones</h3>
                        <div class="mb-3">
                            <label class="form-label">Medio preferido:</label>
                            <div class="d-flex justify-content-center">
                                {{#each medios}}
                                    <div class="form-check mx-3">
                                        <input type="radio" class="form-check-input" id="medio{{@index}}" name="medios" value="{{this}}">
                                        <label class="form-check-label" for="medio{{@index}}">{{this}}</label>
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Modo de notificación:</label>
                            <div class="d-flex justify-content-center">
                                {{#each modos}}
                                    <div class="form-check mx-3">
                                        <input type="radio" class="form-check-input" id="modo{{@index}}" name="modos" value="{{this}}">
                                        <label class="form-check-label" for="modo{{@index}}">{{this}}</label>
                                    </div>
                                {{/each}}
                            </div>
                        </div>
                        <div class="mb-3" id="botonAdicionalContainer" style="display: none;">
                            <button id="botonAdicional" type="button" class="btn btn-secondary">Configurar horarios disponibles</button>
                        </div>
                        <div id="desplegableContainer" style="display: none; max-height: 120px; overflow-y: auto;">
                            {{#each horarios}}
                                <input type="checkbox" id="{{this}}" name="opciones" value="{{this}}">
                                <label for="{{this}}">{{this}}</label><br>
                            {{/each}}
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </form>
        </div>
        </div>

        <script>
            document.addEventListener("DOMContentLoaded", function() {
                var radioModos = document.querySelectorAll('input[name="modos"]');
                var botonAdicionalContainer = document.getElementById("botonAdicionalContainer");
                var desplegableContainer = document.getElementById("desplegableContainer");

                radioModos.forEach(function(radioModo) {
                    radioModo.addEventListener("change", function() {
                        if (radioModo.value === "Asincronica") {
                            botonAdicionalContainer.style.display = "block";
                        } else {
                            botonAdicionalContainer.style.display = "none";
                            desplegableContainer.style.display = "none";
                        }
                    });
                });

                var botonAdicional = document.getElementById("botonAdicional");

                botonAdicional.addEventListener("click", function() {
                    if (desplegableContainer.style.display === "block") {
                        desplegableContainer.style.display = "none";
                    } else {
                        desplegableContainer.style.display = "block";
                    }
                });
            });
        </script>


{{/partial}}
{{> templates/baseConNavegador }}
