{{#partial "contenido" }}
    <div class="container-fluid">
        <div class="row mt-5 ml-3 p-3">
            <div class="col-3 borde">
                <div class="row m-2">
                    <div class="col-4 p-3 d-flex align-items-center justify-content-center">
                        <h3>Icono</h3>
                    </div>
                    <div class="col p-3 mb-6">
                        <h3><a href="/editar" class="btn btn-primary btn-estetico btn-block">Mi perfil</a></h3>
                    </div>
                </div>
                <div class="row m-2">
                    <h5><a href="/comunidades" class="btn btn-secondary btn-estetico btn-block">Tus comunidades</a></h5>
                </div>
                <div class="row m-2">
                    <h5><a href="/comunidades/unirse" class="btn btn-secondary btn-estetico btn-block">Unirte a comunidad</a></h5>
                </div>
                <div class="row m-2">
                    <h5><a href="/incidentes/sugerencias" class="btn btn-secondary btn-estetico btn-block">Ver incidentes cercanos a vos</a></h5>
                </div>
                {{#if permisoCSV}}
                    <div class="row m-2">
                        <h5><a href="/cargadatos" class="btn btn-secondary btn-estetico btn-block">Carga de Reguladores</a></h5>
                    </div>
                {{/if}}
                {{#if permisoRankings}}
                    <div class="row m-2">
                        <h5><a href="/rankings" class="btn btn-secondary btn-estetico btn-block">Ver rankings</a></h5>
                    </div>
                {{/if}}
                <div class="row m-2">
                    <h5><a href="/" class="btn btn-danger btn-estetico btn-block">Cerrar Sesión</a></h5>
                </div>
            </div>
            <div class="col-8 borde ml-3 mr-3">
                <div class="container mt-3">
                    <div class="row">
                        <div class="m-2">
                            <h1>Incidentes</h1>
                        </div>
                    </div>
                    <form method="post">
                        <div class="row m-2">
                            <div class="col-8">
                                <input placeholder="Buscar..." class="form-control">
                            </div>
                            <div class="col-4">
                                <input placeholder="Estado" class="form-control">
                            </div>
                        </div>
                    </form>
                    <div class="row row-cols-1 row-cols-md-2 g-4">
                        {{#each incidentes}}
                            <div class="col">
                                <div class="card m-2">
                                    <img src="..." class="card-img-top" alt="Incident Image">
                                    <div class="card-body">
                                        <h5 class="card-title">{{this.servicioAfectado.establecimiento.nombre}}</h5>
                                        <p class="card-text">{{this.servicioAfectado.nombre}}</p>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Estado: {{this.estado.estado}}</li>
                                        <li class="list-group-item">Descripción: {{this.descripcion}}</li>
                                        <!-- Agrega más atributos si es necesario -->
                                    </ul>
                                    <div class="card-body">
                                        <a href="incidentes/{{this.id}}/editar" class="card-link">Cerrar incidente</a>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/partial}}
{{> templates/base }}